/* generic */
.color-white{
  color:#fff;
}

.center{
  text-align: center;
  margin: auto;
}

header, main, footer{
  font-family: 'Lato', sans-serif;
}
/* questo .star-div si può anche eliminare volendo ma dato che non da fastidio a nessuno meglio non toccare */
.star-div{
  max-width: 60%;
  margin: 15px auto;
}

.star-div > div{
  border: 2px solid #fff;
  display: inline-block;
  width: 30%;
  max-width: 20%;
  border-radius: 3px;
  vertical-align: middle;
}

.star-div i{
  font-size: 2.5rem;
  vertical-align: middle;
  padding: 0 10px;
}
/* header nav */
.header-nav li{
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  padding: 10px;
  font-size: 1.8rem;
}

.header-nav li:hover {
  color:#4FBC9B;
}

.header-nav{
  background: #2C3E4F;
  width: 100%;
  line-height: 80px;
  font-weight: 800;
  position: fixed;
  top:0;
  z-index: 1;
}

.header-nav h4{
  display: inline-block;
  font-size: 1.5em;
  font-weight: 800;
  line-height: 80px;
  white-space: nowrap;
}

.header-menu {
  vertical-align: bottom;
  border: 2px solid #4FBC9B;
  border-radius:10px;
  background-color: #4FBC9B;
  margin-top: 25px;
  font-size: 1.2rem;
}

.header-menu:hover{
  background-color: #148f77;
  border-color:#148f77;
}
.fa-bars{
  margin-left:5px;
}
/* hero section */
.hero{
  background-color: #4FBC9B;
  /* height: 500px; */
  margin-top:80px;
}
.propic{
  /* background: red; */
  /* text-transform: uppercase; */
  margin: 80px auto;
  font-size: 1.8rem;
}

.propic img{
  width: 60%;
  max-width: 250px;
  margin: auto;
}

.propic h2{
  font-size: 3em;
  font-weight:900;
}

.propic p{
  font-size:2rem;
}
/* portfolio section */
.portfolio{
}

.portfolio h2{
  padding-top: 55px;
  padding-bottom: 50px;
  font-size: 3em;
  font-weight: 800;
}
                          /* non funziona, da controllare */
                        #portfolio-title:hover #li-portfolio{
                          color:red;
                        }

.portfolio-block{
  margin-bottom:60px;
  position: relative;
}
.portfolio-block > div{
  /* soluzione che non mi piace perchè apparentemente sembra perfetta ma se si da un background ai div esce fuori il putridume, da fixare!! */
  /* background: red; */
  border:1px solid #fff;
  /* width: 100%; */
  overflow: hidden;
}

.portfolio-block img{
  margin-top:30px ;
  border-radius: 10px;
  /* max-height:100%;
  max-width: 100%; */
}

.portfolio .star-div > div,
.contact-me .star-div > div{
  border-color:#2C3E50;
}

.portfolio-block  .overlay {
  display: none;
  width: calc(100% - 30px);
  height: 90%;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 15px;
  background-color: rgba(26, 188, 156,0.9);
}

.portfolio-block .overlay .fa-plus {
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-block div:hover .overlay{
  display: block;
  cursor:pointer;
}
/* about section */
.about{
  background-color: #4FBC9B;
  padding-bottom: 30px;
}

.about h2{
  font-size: 3em;
  font-weight: bold;
}

.about-title{
  margin-top:50px;
  margin-bottom:30px;
}

.about-text{
  margin: 20px 20px;
  padding: 10px;
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
}

#about-btn{
  background-color:#4FBC9B;
  border: 1px solid #fff;
  color:#fff;
}

#about-btn:hover{
  border-color: #148f77;
  color:#000;
  background-color: #fff
}
/* contact me section */
.contact-me{
  background-color: lightgey;
}

.contact-me h2{
  padding: 20px 0;
  font-size: 3em;
  font-weight: bold;
}

.contact-me div{
  font-weight: bold;
}
.contact-input{
  margin-bottom: 10px;
  font-size: 18px;
  border: 0;
  border:none;
  border-bottom:1px solid lightgrey;
  width: 100%;
  color:#000000;
}

.contact-me .form input .contact-input{
  box-shadow: none;
}

#contact-btn{
  color:#fff;
  margin:20px 0;
  background-color:#4FBC9B;
}

#contact-btn:hover{
  color:#fff;
  background-color: #159a80;
  border-color: #148f77;
}
/* footer */
.footer, .copyright{
  padding:30px 0;
  background-color: #39536D;
  color:#fff;
  font-weight: bolder;
}
[class*="footer-"]{
  margin-bottom:30px;
}

.footer-around{
  margin: 0 auto 30px auto;
}

.footer-around ul{
  max-width: 100%;

}
.footer-around li{
  cursor:pointer;
  display: inline-block;
  border: 1px solid #fff;
  padding: 13px;
  margin: 5px 10px;
  width: 56px;
  border-radius:30px;
  font-size: 20px;
}
.footer-around li:first-child{
  margin-left: -15px;
  padding:
}

.footer-around li:hover{
  background-color: #fff;
  color:#39536D;
}

.footer-about a{
  color:#4FBC9B;
}

.about-hover:hover{
  text-decoration: underline;
  color:#117964;
}

.copyright{
  background-color: #2D3E4F;
}
