/* generic */
.color-white{
  color:#fff;
}

/* header nav */
nav li{
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
}

.header-nav{
  background: #2C3E4F;
  width: 100%;
  line-height: 50px;
  font-size: 16px;
}

.header-nav h4{
  display: inline-block;
}

/* hero section */
.hero{
  background-color: #4FBC9B;
  height: 500px;
}
.propic{
  height: 100px;
  margin-top:150px;
  background: red;
  border-radius: 50px;
}

.propic-text{
  text-align: center;
  text-transform: uppercase;
}
/* portfolio section */
.portfolio{
  text-align: center;
}

#portfolio{
  padding-top: 550px;
  padding-bottom: 50px;
}
.portfolio-block{
  background: red;
  height: 150px;
  width: 100%;
  margin:10px auto;
}

/* about section */
.about{
  background-color: #4FBC9B;
  padding-bottom: 30px;
}

.about-title{
  text-align: center;
  margin-top:50px;
  margin-bottom:30px;
}

.about-text{
  background-color:green;
  margin: 20px 20px;
  padding: 10px;
}

.about .about-btn{
  margin: auto;
  text-align: center;
  background-color:#4FBC9B;
  border: 1px solid #fff;
  color:#fff;
  width: 100%;
}
